<section id="about" class="clearfix">
    <div class="row section-heading justify-content-center">
        <h3>About</h3>
    </div>
    <div class="row section-content">
        <div class="col-md-8 offset-md-2">
            <p>
                I am a creative and technology-driven Interaction Designer with proficient knowledge in User-Oriented
                Design Principles and Methods, User Experience Design associated with the Usability of digital products
                and processes.
                <br><br>
                Since human-machine communication is heavily dependent on understanding the machine it is my personal
                claim to be skilled in the Web Development tools HTML5, SASS, Bootstrap, Javascript, jQuery and Angular
                as well as C# and VVVV.
                <br><br>
                Currently, I am working as 3D Environment Artist where I am responsible for the independent,
                client-oriented development of VR compatible real-time environments for Architectural Concepts with
                Unreal Engine 4 or Unity 3D.
                <br><br>
                If I am not busy with any work-related stuff you usually find me in the climbing gym, riding my bike,
                cooking for friends or on a skiing trip.
            </p>
        </div>
    </div>
</section>