<section id="about" class="clearfix">
  <div class="row section-heading justify-content-center">
      <h3>About</h3>
  </div>
  <div class="row section-content">
      <div class="col-md-8 offset-md-2">
          <p>
              I am an Interaction Designer and 3D Environment Artist based in Schwaebisch Gmuend, Germany.
              <br>
              <br> 3D artworks and Graphic Design were my gateways to the creative community. While working as a Graphic Designer at <a href="https://gpj.de/">George P. Johnson</a>, I learned a lot about how clients think and how I as a designer can contribute
              to their visions.
              <br>
              <br> A user-centered mindset and a curiosity in working with technology turned out to be a good starting
              point to switch from traditional print-oriented Graphic Design to the interactive world of digital
              media.
              <br>
              <br> This transition led to a more functional and structured approach to my work. Designing without a
              framework based on functionality and usability was no longer satisfying.
              <br>
              <br> I have always been into creating digital media and new experiences. Challenges inspire my enthusiasm
              for design. Besides designing I am focusing on learning new skills in CGI as well as Software Development.
              <br>
              <br> If I am not busy with any work related stuff you usually find me in the climbing gym, riding my
              bike, playing the guitar or on a skiing trip with my friends.
          </p>
      </div>
  </div>
</section>