<footer id="footer" class="clearfix">
  <div class="col-xs-12 text-center">
          <div class="row section-heading justify-content-center">
                  <h3>Contact</h3>
              </div>
      <a class="text-center" href="mailto:yannik.peschke@gmail.com">yannik.peschke@gmail.com</a>
      <ul class="social-icon social social-footer">
          <li><a href="https://www.xing.com/profile/Yannik_Peschke/cv?sc_o=mxb_p"><i class="fab fa-xing"></i></a></li>
          <li><a href="https://www.linkedin.com/in/yannik-peschke-a48012108/"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="https://www.artstation.com/yannikpeschke"><i class="fab fa-artstation"></i></a></li>
        </ul>
  </div>
  <div class="row section-content justify-content-center">
          Copyright &copy;
          <script type="text/javascript">var d = new Date(); document.write(d.getFullYear())</script>
          <span>&nbsp;Yannik Peschke</span>
  </div>
</footer>