<app-welcome></app-welcome>
<section id="work" class="clearfix section-content">
  <div class="row section-heading justify-content-center">
      <h3>Work</h3>
  </div>
  <div class="text-center project-selector">
    <div class="btn-group btn-group-custom" role="group" aria-label="Basic example">
        <button (click)="showAllProjects()" type="button" class="btn btn-secondary btn-secondary-custom">All</button>
        <button (click)="showIgProjects()" type="button" class="btn btn-secondary btn-secondary-custom">UI / UX</button>
        <button (click)="showArtProjects()" type="button" class="btn btn-secondary btn-secondary-custom">3D Art</button>
      </div>
  </div>
  <div class="row section-content-card">
      <div class="col-lg-4 col-md-6 col-12" *ngFor="let project of projects | filterProjects: displayed">
        <div class="card">
            <a routerLink="{{project.routerLink}}" class="mask">
              <img class="card-img-top" src={{project.thumbnail}}>
              <div class={{project.colorIndicator}}></div>
              <div class="card-info">
                <h5 class="card-title">{{project.name}}</h5>
                <p>{{project.description}}</p>
                <hr>
                <p class="meta-list">{{project.tag}}</p>
              </div>
            </a>
          </div>
      </div>
</div>

</section>
<app-about></app-about>
<app-contact></app-contact>