<section id="work" class="clearfix">
  <div class="row section-heading justify-content-center">
      <h3>Work</h3>
  </div>
  <div class="row section-content-card">
      <div class="col-md-4 card-frame">
          <div class="card">
              <a href="https://pacianapp.com/" class="mask">
                  <img class="card-img-top" src="assets/images/pacian/pacian-thumbnail.jpg">
                  <div class="card-info">
                      <h5 class="card-title">PACIAN</h5>
                      <p>The Parametric City Analysis Toolbox for Urban Development</p>
                      <hr>
                      <p class="meta-list">#Research #Concept #UX #UI #Prototying #Principle</p>
                  </div>
              </a>
          </div>
      </div>
      <div class="col-md-4 card-frame">
          <div class="card">
                  <a href="http://dear-google.com/" class="mask">
                      <img class="card-img-top" src="assets/images/dear-google/deargoogle-thumbnail.jpg">
                      <div class="card-info">
                          <h5 class="card-title">Dear Google</h5>
                          <p>A Love Letter for Pedestrian Navigation</p>
                          <hr>
                          <p class="meta-list">#Research #Concept #UX #UI #Prototying #Framer.js #Mapbox.js</p>
                      </div>
                  </a>
              </div>
      </div>
      <div class="col-md-4 card-frame">
            <div class="card">
                <a href="work/deep-space-images/botui.html" class="mask">
                    <img class="card-img-top" src="assets/images/botui/botui-thumbnail.png">
                    <div class="card-info">
                        <h5 class="card-title">Botui</h5>
                        <p>Tangible User Interface for quantitative Literature Analysis</p>
                        <hr>
                          <p class="meta-list">#Research #Concept #UX #UI #Prototying #VVVV</p>
                    </div>
                </a>
            </div>
        </div>
  </div>
  <div class="row section-content">
        <div class="col-md-4 card-frame">
                <div class="card">
                    <a class="mask">
                        <img class="card-img-top" src="assets/images/deep-space-images/deep-space-images-thumbnail.jpg">
                        <div class="card-info">
                            <h5 class="card-title">Deep Space Images</h5>
                            <p>Point Cloud Data Visualization using the Image itself as Database</p>
                            <hr>
                            <p class="meta-list">#Research #Concept #Prototying #Unity3D #C#</p>
                        </div>
                    </a>
                </div>
            </div>
      <div class="col-md-4 card-frame">
          <div class="card">
              <a href="work/the-journey-of-ray/the-journey-of-ray.html" class="mask">
                  <img class="card-img-top" src="assets/images/the-journey-of-ray/the-journey-of-ray-thumbnail.jpg">
                  <div class="card-info">
                      <h5 class="card-title">The Journey of Ray</h5>
                      <p>Two Dimensional Platformer focused on Usability and Storytelling</p>
                      <hr>
                      <p class="meta-list">#Research #Concept #UX #Painting #Prototying #Unity3D #C#</p>
                  </div>
              </a>
          </div>
      </div>
      <div class="col-md-4 card-frame">
          <div class="card">
              <a href="work/geostories/geostories.html" class="mask">
                  <img class="card-img-top" src="assets/images/geostories/geostories-thumbnail.jpg">
                  <div class="card-info">
                      <h5 class="card-title">Geo Stories</h5>
                      <p>Locative Game for creating and playing interactive Geocaches</p>
                      <hr>
                      <p class="meta-list">#Research #Concept #UX #UI #Prototying #Flinto #Mapbox.js</p>
                  </div>
              </a>
          </div>
      </div>
  </div>
</section>