<div class="container clearfix">

    <!-- /WELCOME SECTION -->
    <section id="project-welcome" class="clearfix title-image">
        <h1 class="text-center">Electrify Aesthetics</h1>
        <h3 class="text-center">Lighting and Material Study to keep my creative Juices flowing</h3>
    </section>
    <!-- /WELCOME SECTION -->

    <!-- INTRODUCTION SECTION -->
    <section id="project-about" class="clearfix blog-space">
        <div class="row section-heading justify-content-center">
            <h2>Introduction</h2>
        </div>
        <div class="row section-content">
            <div class="col-md-8 offset-md-2">
                <p>
                    The idea of this small project hit me while rendering a series of shots for an automotive exhibition. 
                    It is a lighting and material study to keep my creative juices flowing after some busy extra hour weeks at work.
                    <br>
                    <br>Made with: <span class="software-span">Modo, Substance Designer, V-Ray</span>
                </p>
            </div>
        </div>
    </section>
    <!-- /INTRODUCTION SECTION -->

    <!-- INTRODUCTION SECTION -->
    <section id="project-about" class="clearfix blog-space">
        <div class="row section-heading justify-content-center">
            <h3>Result</h3>
        </div>
        <div class="row section-content">
            <div class="col-md-12 article-image">
                <img src="../../assets/images/electrify-aesthetics/electrify-aesthetics-01.jpg" alt="">
                <img src="../../assets/images/electrify-aesthetics/electrify-aesthetics-02.jpg" alt="">
                <img src="../../assets/images/electrify-aesthetics/electrify-aesthetics-03.jpg" alt="">
            </div>
        </div>
    </section>
    <!-- /INTRODUCTION SECTION -->

    

    <!-- CONCLUSION SECTION -->
    <section id="project-about" class="clearfix blog-space">
        <div class="row section-heading justify-content-center">
            <h3>Conclusion</h3>
        </div>
        <div class="row section-content">
            <div class="col-md-8 offset-md-2">
                <p>
                    Although the project was fairly close to my daily work I had a lot of fun fiddling around with the lighting setup and camera positioning.
                    In my opinion it is crucial to keep up the personal skill and software practice momentum during recreation time in order to stay competitive in the industry.
                </p>
            </div>
        </div>
    </section>
    <!-- /CONCLUSION SECTION -->


    <!-- FOOTER SECTION -->
    <footer id="footer" class="clearfix blog-space">
        <div class="row section-content justify-content-center blog-end">
            <a routerLink="">Back to main page</a>
        </div>
    </footer>
</div>