<section id="welcome" class="clearfix">
  <h1 class="text-center">Yannik Peschke</h1>
  <h3 class="text-center">Interaction Designer</h3>

  <div class="social-media row section-content justify-content-center">
      <div class="col-xs-12">
          <ul class="social-icon social">
              <li><a href="https://www.xing.com/profile/Yannik_Peschke/cv?sc_o=mxb_p"><i class="fab fa-xing"></i></a></li>
              <li><a href="https://www.linkedin.com/in/yannik-peschke-a48012108/"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="https://www.artstation.com/yannikpeschke"><i class="fab fa-artstation"></i></a></li>
          </ul>
      </div>
  </div>

  <div class="text-center navigation">
      <a [ngx-scroll-to]="'#work'" id="work-anchor">Work</a>
      <span>/</span>
      <span>
          <a [ngx-scroll-to]="'#about'" id="about-anchor">About</a>
      </span>
      <span>/</span>
      <span>
          <a [ngx-scroll-to]="'#footer'" id="contact-anchor">Contact</a>
      </span>
  </div>



</section>