<div class="container clearfix">

  <!-- /WELCOME SECTION -->
  <section id="project-welcome" class="clearfix title-image">
    <h1 class="text-center">BOTUI</h1>
    <h3 class="text-center">Tangible User Interface for quantitative Literature Analysis</h3>
  </section>
  <!-- /WELCOME SECTION -->

  <!-- INTRODUCTION SECTION -->
  <section id="project-about" class="clearfix blog-space">
    <div class="row section-heading justify-content-center">
      <h2>Introduction</h2>
    </div>
    <div class="row section-content">
      <div class="col-md-8 offset-md-2">
        <p>
          BOTUI is an interactive table for quantitative literature analysis. The initial idea was to find a literature
          problem we could solve by using a book as database. The result of this idea is BOTUI, an interactive table for
          quantitative literature analysis which visualises quantitative information about a book in a perceivable and
          visual appealing manner.
        </p>
      </div>
    </div>
  </section>

  <section id="project-about" class="clearfix blog-space">
    <div class="row section-heading justify-content-center">
      <h2>How it works</h2>
    </div>
    <div class="row section-content">
      <div class="col-md-8 offset-md-2">
        <p>
          The system calculates multiple layers of cross-referenced Regular Expression
          algorithms on a whole book in real-time. This allows the user to get information about different
          narrative styles, the structural architecture of a book or quantitative insights on the plain content.
          <br>
          The navigation is based on a Book Replica and a touch-sensitive potentiometer. The Book Replica is used to
          cycle through the three categories (narrative, structure, content). With the potentiometer it is possible to
          scroll through each chapter of the book in real-time.
          <br><br>
          The narrative section of BOTUI calculates the relation of dialogue and running text. The user gets an
          impression on how descriptive of dialogue-driven the current chapter of the book is.
        </p>
      </div>
      <div class="col-md-12 article-image">
        <img src="../../assets/images/botui/botui-narration.png" alt="">
      </div>
      <div class="col-md-8 offset-md-2">
        <p>
          The structure section of BOTUI calculates correlations between sentence-lenghts and diffenrent punctuation
          marks
          like commata, exclamation mark, question mark and period. The green line represents the actual reading process
          of the algorithm. As soon as it encounters a punctuation, BOTUI will turn in a predefined angle. This way the
          user gets a relative impression of the author's writing stlye. It is important to mention that relative data
          analysis delivers imagery which is comparable to other books. It is not gernerated to display specific data.
        </p>
      </div>
      <div class="col-md-12 article-image">
        <img src="../../assets/images/botui/botui-structure.png" alt="">
      </div>
      <div class="col-md-8 offset-md-2">
        <p>
          The content section of BOTUI delivers insights about the actual content of the book. All words of the chapter
          are
          visualised sorted by their frequency of use. By eliminating conjunctions and some testing with different books
          the
          meaning of each chapter could be recognized.
        </p>
      </div>
      <div class="col-md-12 article-image">
        <img src="../../assets/images/botui/botui-content.png" alt="">
      </div>
    </div>
  </section>
  <!-- /INTRODUCTION SECTION -->

  <!-- INTRODUCTION SECTION -->
  <section id="project-about" class="clearfix blog-space">
    <div class="row section-heading justify-content-center">
      <h3>Result</h3>
    </div>
    <div class="row section-content">
      <div class="col-md-12 article-image">
        <video width="100%" height="auto" autoplay loop>
          <source src="../../assets/images/botui/botui-demo.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
  </section>
  <!-- /INTRODUCTION SECTION -->

  <!-- CONCLUSION SECTION -->
  <section id="project-about" class="clearfix blog-space">
    <div class="row section-heading justify-content-center">
      <h3>Conclusion</h3>
    </div>
    <div class="row section-content">
      <div class="col-md-8 offset-md-2">
        <p>
          The final presentation at our design exhibition was not a finished product - more like a case-study on how new
          interaction patterns work combined with perceivable visualisation of heavy datasets. We learned a lot about
          the real-time programming language VVVV and data-visualisation in general. Especially the implementation of
          our custom built tangible user interface was a huge but rewarding challenge!
        </p>
      </div>
    </div>
  </section>
  <!-- /CONCLUSION SECTION -->

  <!-- FOOTER SECTION -->
  <footer id="footer" class="clearfix blog-space">
    <div class="row section-content justify-content-center blog-end">
      <a routerLink="">Back to main page</a>
    </div>
  </footer>
</div>